In [1]:
import pandas as pd
import os

In [2]:
os.chdir('data\\Cleaned csv')
os.listdir()

['CO2 emissions per capita_cleaned.csv',
 'CO2 emissions_cleaned.csv',
 'Degraded land_cleaned.csv',
 'education_index_cleaned.csv',
 'expected_years_of_schooling_cleaned.csv',
 'Forest area + evolution_cleaned.csv',
 'Forest area_cleaned.csv',
 'Fossil fuel consumption_cleaned.csv',
 'GNI_per_capita_cleaned.csv',
 'HDI_cleaned.csv',
 'HDI_global_cleaned.csv',
 'income_index_cleaned.csv',
 'life_expectancy_cleaned.csv',
 'life_expectancy_index_cleaned.csv',
 'mean_years_of_schooling_cleaned.csv',
 'Mortality due to air pollution_cleaned.csv',
 'Mortality due to unsafe water_cleaned.csv',
 'natural_ressources_cleaned.csv',
 'population_cleaned.csv',
 'redlist_cleaned.csv']

In [3]:
hdi=pd.read_csv('HDI_cleaned.csv')

In [4]:
hdi.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,0.3020,0.30700,0.316,0.31200,0.30700,0.3310,0.3350,0.3390,0.3440,...,0.472,0.477,0.489,0.496,0.500,0.500,0.502,0.506,0.509,0.511
1,Albania,0.6500,0.63100,0.615,0.61800,0.62400,0.6370,0.6460,0.6450,0.6550,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,Algeria,0.5720,0.57600,0.582,0.58600,0.59000,0.5950,0.6020,0.6110,0.6210,...,0.721,0.728,0.728,0.729,0.736,0.740,0.743,0.745,0.746,0.748
3,Andorra,0.6085,0.61325,0.619,0.62325,0.62725,0.6315,0.6385,0.6475,0.6565,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,Angola,0.6450,0.65050,0.656,0.66050,0.66450,0.6680,0.6750,0.6840,0.6920,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581